/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 24px; */
  /* padding-top: 24px; */
  background: linear-gradient(
    to right,
    #7db9e8 0%,
    #075697 62%,
    #2b3ac2 99%,
    #0e0c92 100%
  );
  border-bottom: 1px solid #ddd;
 

}

.header-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: whitesmoke;
  margin: 20px;
  padding:10px;
  border-radius: 5px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-weight: 900;
  color: white; /* margin: 0 auto; */
 
}

.header-title {

font-size: 2rem;
font-weight: 900;
  padding: 4px;
 
}
.header-subtitle {
  font-size: 1.5rem;
  margin-top: -4px;
}

/* .image{
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
} */
.left-img {
  margin-right: 16px;
}

.right-img {
  margin-left: 16px;
}

/* ---------------------------- Title ------------------------------*/
.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
    padding: 10px 0px;
  /* gap: 1rem; */
  color: #e43804;
  /* margin: 0.8rem 0; */
  text-transform: uppercase;
  background-color: white;

}

.title img {
  width: 120px;
  height: 50px;
  padding: 20px;
}
.title h1{
    padding: 0 2rem;
    font-weight: 900;
  font-size: 1.4rem;
    letter-spacing: -2px;
}

/* 🧾 report-form- Section */
.DetaileFile {
  color: rgb(19, 17, 17);
  width: 100%;

  /* margin-right: 10px; */
  /* padding: 0 5px; */
  background-color: white;
  margin-bottom: -30px;
  
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 25px 45px;
}

.school {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.school .dots::before {
  content: "";
  flex-grow: 1;
  border-bottom: 1px dotted #888;
  margin-left: 10px;
}

/* INFO ROW — all inline and shared width */
.info-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-row  {
  display: flex;
   justify-content: space-between;
  align-items: center;
  flex: 1;
 
}

.info-row .dots::before {
  content: "";
  flex-grow: 1;
  /* border-bottom: 1px dotted #888; */
  margin-left: 8px;
}

/*  */
/* ------------------------------- Table-----------------------------  */
.student-table-container {
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px 30px!important;   
  box-sizing: border-box;
}

/* TABLE STYLES */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;         
  /* margin : 0 20px 0 0; */
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #17191a;
}

/* HEADER */
.data-table thead th {
  color: #403EC4;
  border: 1px solid #27409C;
  background-color: #C7CCE6;
  padding: 8px 4px;       
}

.data-table thead th.th-name {
  min-width: 200px;
  text-align: center;
  padding-left: 10px;
}

.data-table thead th.th-sn {
  width: 40px;
}

.data-table thead th.th-language {
  font-weight: bolder;
  letter-spacing: 1px;
}

/* BODY */
.data-table tbody td {
  border: 1px solid blue;
  padding: 8px 4px;       
}


/* -------------------------------footer----------------------- */


.footer {
  padding: 10px 10px;
  background-color: white;
  /* margin-top: auto;  */
}

.form-grid-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -20px;
  padding: -10px;
}

.form-field {
  text-align: center;
    padding: -10px;
}

.form-text {
  display: inline-block;
  color: black;
  width: 100%;
  font-size: 16px;
}

.footer-form-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: red;
}