/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  /* padding-top: 24px; */
  background: linear-gradient(
    to right,
    #7db9e8 0%,
    #075697 62%,
    #2b3ac2 99%,
    #0e0c92 100%
  );
  border-bottom: 1px solid #ddd;
  max-height: 80px;

}

.header-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: whitesmoke;
  margin-top: 5px;
  /* padding: 0 10px; */
  border-radius: 5px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: white;
 
}

.header-title {

   font-size: 1.5rem;
font-weight: 900;
  /* padding: 10px; */
}

.header-subtitle {
 
 font-size: 5rem;
  /* margin: 2px 0 0 0; */
}
/* .image{
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
} */
.left-img {
  margin-right: 16px;
}

.right-img {
  margin-left: 16px;
}

/* ---------------------------- Title ------------------------------*/
.title {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 10px 15px;
  /* gap: 1rem; */
  color: #e43804;
  /* margin: 0.8rem 0; */
  text-transform: uppercase;
  background-color: white;

}

.title img {
  width: 120px;
  height: 50px;
  padding: 0.5rem ;
}
.title h1{
    padding: 0 4rem;
    font-weight: 1000;
  font-size: 2rem;
    letter-spacing:-2px;
}

/* 🧾 report-form- Section */
.DetaileFile {
  color: rgb(19, 17, 17);
  width: 100%;

  margin-right: 10px;
  /* padding: 0 5px; */
  background-color: white;
  margin-bottom: -30px;
  
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 25px;
}

.school {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.school .dots::before {
  content: "";
  flex-grow: 1;
  border-bottom: 1px dotted #888;
  margin-left: 10px;
}

/* INFO ROW — all inline and shared width */
.info-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-row  {
  display: flex;
   justify-content: space-between;
  align-items: center;
  flex: 1;
 
}

.info-row .dots::before {
  content: "";
  flex-grow: 1;
  /* border-bottom: 1px dotted #888; */
  margin-left: 8px;
}

/*  */
/* ------------------------------- Table-----------------------------  */
.table-container {
  /* width: 100%; */
  overflow-x: auto;
    padding: 10px 20px;
  /* margin: 20px 0; */
  /* border-radius: 8px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: rgb(5, 5, 5);
}

/* TABLE STYLES */
.data-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: "Poppins", sans-serif;
  /* font-size: 14px; */
  color: #17191a;
  
}

/* HEADER STYLING */
.data-table thead th {
  /* background-color: #dddddd; */
  /* color: rgb(64, 62, 196); */
  color: #403EC4;
  /* padding: 5px; */
  border: 1px solid #27409C;
  background-color: #C7CCE6;

}

.data-table thead th.th-name {
  min-width: 200px;
  text-align: center;
  padding-left: 10px;
}

.data-table thead th.th-sn {
  width: 0px;
  /* color: blue; */
  color: #403EC4;
}

.data-table thead th.th-language {
  /* background-color: #6693d6; */
  font-weight:bolder;
  letter-spacing: 1px;
}

.data-table thead th.th-metric {
  /* background-color: #d3d6da; */
  font-weight: 500;
}

/* BODY STYLING */
.data-table tbody td {
  border: 1px solid blue;;
  padding: 8px;
}



/* -------------------------------footer----------------------- */


.footer {
  /* margin-top: 30px; */
    padding: 10px 20px;
  padding: 20px;
  background-color: white;
  
}
.form-grid-3 {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  flex-wrap: wrap; /
}

.form-field {
  /* flex: 1;  */
  /* min-width: 200px;  */
  text-align: center;
}

.form-text {
  /* border-bottom: 1px solid #000; */
  display: inline-block;
  color: black;
  width: 100%;
  /* padding-bottom: 5px;
  margin-bottom: 8px; */
  font-size: 16px;
}

.footer-form-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  /* text-transform: uppercase; */
  color: red;
}
