#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.conatiner {

  /* background-color: #f9fafb; */
  /* padding: 1rem; */
  width: 100%;
  /* max-width: 1000px;; */
  
}
.app{
  /* margin-top: 0; */
  /* margin-top: -120px; */
  /* padding: 8px; */
  margin-top: -30px;
  /* padding: 0 10px; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 24px; */
  /* padding-top: 24px; */
  background: linear-gradient(
    to right,
  #7db9e8 0%,
    #075697 62%,
    #2b3ac2 99%,
    #0e0c92 100%
  );      
}
.header-subtitle {
  font-size: 15px;
  padding: 0;
}