#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.conatiner {
  min-height: 50vh;
  /* background-color: #f9fafb; */
  /* padding: 1rem; */
  width: 100%;
  /* max-width: 1000px;; */
  
}
.app{
 padding: -20px;
  margin-top: -560px;
}